<div class="navbar">
    <div class="navbar-inner">

        <div class="left sliding">
            <a href="#" class="back link">
                <i class="fa fa-angle-left fa-2x"></i>
                <span></span>
            </a>
        </div>

        <div class="center sliding">
            Raspi
        </div>

        <div class="right sliding">

        </div>

    </div>
</div>

<div class="page" fw7-page>
    <div class="page-content">

        <div class="list-block">
            <ul>
                <li>
                    <a href="#" class="item-link item-content" data-function="led">
                        <div class="item-media"></div>
                        <div class="item-inner no-nav">
                            <div class="item-title">LED</div>
                            <div class="item-after"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>