<div class="navbar">
    <div class="navbar-inner">

        <div class="left sliding">
            <a href="#" class="back link">
                <i class="fa fa-angle-left fa-2x"></i>
                <span></span>
            </a>
        </div>

        <div class="center sliding">
            <i class="fa fa-spotify"></i> &nbsp; Now Playing
        </div>

        <div class="right sliding">

        </div>

    </div>
</div>

<div class="page" fw7-page>
    <div class="page-content">

        <h1>{{track.name}}</h1>

    </div>
</div>