<div class="navbar">
    <div class="navbar-inner">

        <div class="left sliding">
            <a href="#" class="back link">
                <i class="fa fa-angle-left fa-2x"></i>
                <span></span>
            </a>
        </div>

        <div class="center sliding">
            <i class="fa fa-spotify"></i> &nbsp; Playlist
        </div>

        <div class="right sliding">

        </div>

    </div>
</div>

<div class="page" fw7-page>
    <div class="page-content pull-to-refresh-content">

        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>

        <div class="content-block-title">{{playlist.name}}</div>
        <div class="list-block refresh-content">
            <ul>
                {{#each playlist.tracks}}
                <li>
                    <a href="#/spotify/play/{{playlistUri}}/track_num/{{playlistNum}}" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title">{{name}} - {{artistsString}}</div>
                            <div class="item-after"></div>
                        </div>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>

    </div>
</div>