html.with-statusbar-overlay body {
  padding-top: 0;

  .navbar {
    margin-top: 20px;
  }

  .navbar-through .page-content, .navbar-fixed .page-content {
    padding-top: 64px;
  }
}

.list-block {
  margin: 0;
}

.content-block-title {

}



body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.statusbar-overlay {
  background: $color-primary;
}

.navbar {
  background: $color-primary;
  border-color: rgba(255, 255, 255, 0.1);
  color: $color-white;
  font-family: 'Museo Sans Rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  .center {
    font-weight: 100;
    font-size: 1.3em;

    i {
      font-size: 1.4em;
    }
  }

  a {
    color: $color-white;
  }

  i {
    color: $color-white;
  }
}

.page {
  background: $color-light;
}

.list-block ul {
  background: $color-white;
  border-color: rgba(255, 255, 255, 0.1);

  li .item-content {
    &.active-state {
      background: rgba(0, 0, 0, 0.1);
    }

    .item-media {

    }

    .item-inner {
      border-color: rgba(0, 0, 0, 0.04);

      &.no-nav {
        background-image: none;
      }
    }
  }
}

.fa-spotify {
  color: $color-spotify;
}

