<div class="navbar">
    <div class="navbar-inner">

        <div class="left sliding">

        </div>

        <div class="center sliding">
            Kontrol
        </div>

        <div class="right sliding">

        </div>

    </div>
</div>

<div class="page" fw7-page>
    <div class="page-content">

        <div class="list-block">
            <ul>
                <li>
                    <a href="#/spotify" class="item-link item-content">
                        <div class="item-media"><i class="fa fa-spotify fa-2x"></i></div>
                        <div class="item-inner">
                            <div class="item-title">Spotify</div>
                            <div class="item-after"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#/raspi" class="item-link item-content">
                        <div class="item-media"></div>
                        <div class="item-inner">
                            <div class="item-title">Raspi</div>
                            <div class="item-after"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>