<div class="navbar">
    <div class="navbar-inner">

        <div class="left sliding">

        </div>

        <div class="center sliding">
            Kontrol
        </div>

        <div class="right sliding">

        </div>

    </div>
</div>

<div class="page" fw7-page>
    <div class="page-content">

        <div class="content-block">
            Loading...
        </div>

    </div>
</div>