<div class="navbar">
    <div class="navbar-inner">

        <div class="left sliding">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>

        <div class="center sliding">
            About
        </div>

        <div class="right sliding">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars-blue"></i></a>
        </div>

    </div>
</div>

<div class="page" fw7-page>
    <div class="page-content">
        <div class="content-block">
            test
        </div>
    </div>
</div>