html.with-statusbar-overlay body {
  padding-top: 0; }
  html.with-statusbar-overlay body .navbar {
    margin-top: 20px; }
  html.with-statusbar-overlay body .navbar-through .page-content, html.with-statusbar-overlay body .navbar-fixed .page-content {
    padding-top: 64px; }

.list-block {
  margin: 0; }

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300; }

.statusbar-overlay {
  background: rgba(245, 108, 40, 0.9); }

.navbar {
  background: rgba(245, 108, 40, 0.9);
  border-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-family: 'Museo Sans Rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .navbar .center {
    font-weight: 100;
    font-size: 1.3em; }
    .navbar .center i {
      font-size: 1.4em; }
  .navbar a {
    color: #fff; }
  .navbar i {
    color: #fff; }

.page {
  background: #f5f5f5; }

.list-block ul {
  background: #fff;
  border-color: rgba(255, 255, 255, 0.1); }
  .list-block ul li .item-content.active-state {
    background: rgba(0, 0, 0, 0.1); }
  .list-block ul li .item-content .item-inner {
    border-color: rgba(0, 0, 0, 0.04); }
    .list-block ul li .item-content .item-inner.no-nav {
      background-image: none; }

.fa-spotify {
  color: #84bd00; }
